*{margin:0px;padding:0px;}
body{
	background-color:#FFF0F5;}
.all{width:1200px;margin:0px auto;background-color:#FFF0F5;border:3px solid #E6E6FA;border-radius:10px;}
.firsttwo{background-color:#2980B9;display:block;overflow:hidden;border-bottom:2px solid #FF00FF;}
.logo{background-color:;float:left;}
.logo img{}
.title{background-color:#F5FFFA;margin-left:30px;margin-top:60px;width:600px;float:left;padding:0px;border:2px solid green;}
.title h1{background-color:#F0FFFF;color:#4B0082;font-size:27px;}
.secondthree{overflow:hidden;display:block;}
.FIRST{background-color:#B0C4DE;width:250px;float:left;}
.FIRST ul{}
.FIRST ul li{list-style:none;border:5px solid #F0E68C;border-radius:15px;margin-top:5px;}
.FIRST ul li a{text-decoration:none;overflow:hidden;display:block;padding:20px;font-size:25px;}
.FIRST ul li a:hover{background-color:white;border:3px solid #F0E68C;border-radius:15px;}
.MIDDLE{background-color: #f8f8f8;width:950px;margin:10px auto;overflow: hidden;}
.copyright{background-color:#B0C4DE;font-size:25px;margin-top:5px;}
.search{float:right;margin-top:60px;border:3px solid green;}
.add{background-color:#DDA0DD; color:#F0FFF0;font-size:25px;}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 220px;
  height: 50px;
  background:#FFFAF0;
  border: none;
  font-size: 20pt;
  float: left;
  color: #63717f;
  padding:34px;
}
/*register css*/

.header{text-align: center;font-size: 20px;background-color: lightblue;padding: 25px;}
.header h2{}
.menu{background-color:white;overflow: hidden;}
.menu ul{list-style: none;}
.menu ul li{display: block;float: left;}
.menu ul li a{background-color: white;text-decoration: none;padding: 20px;display: inline-block;}
.menu ul li a:hover{background-color: green;}
.contain{padding: 20px;text-align: center;overflow: hidden;display: block;}
.contain h3{background-color: #f2f2f2;width:400px;margin:0px auto;padding: 10px;}
input[type="text"],input[type="email"],input[type="password"]{

  border:1px solod green;width: 260px;margin-bottom: 10px;margin-left: 5px;padding: 5px;
}
input[type="submit"],input[type="reset"]{

  border:1px solod green;margin-bottom: 10px;margin-left: 5px;padding: 5px;
}

.login_reg{background-color: #c7c7c7;width:400px;margin:0px auto;border:1px solod #f7f7f7;border-radius: 7px;padding: 15px;}
.back {width:400px;margin:0px auto;}
/*register css*/